@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
}

@layer utilities {
}

@layer components {
  body {
    @apply font-inconsolata select-none text-gray-800 text-xl sm:text-2xl md:text-3xl;
  }
  a {
    @apply underline hover:text-gray-500 cursor-pointer;
  }

  /*divs*/
  .content {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .content::-webkit-scrollbar {
    display: none;
  }
  section {
    @apply flex items-center justify-center relative;
    min-height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }
  .container {
    @apply mx-auto relative max-w-2xl pb-12 px-12;
  }
  ul {
    list-style: disc outside;
    margin-left: 1em;
    margin-top: 0px;
  }
  li {
    margin-top: 10px;
  }

  /* text */
  h1 {
    @apply text-center text-4xl md:text-6xl flex;
  }
  h2 {
    @apply text-3xl md:text-5xl;
  }

  /*social icons*/
  .social {
    @apply mt-4 flex space-x-4 justify-start;
  }
  .fab {
    @apply rounded-full w-10 h-10 pt-0.5 md:w-12 md:h-12 text-lg md:text-xl no-underline items-center justify-center hover:opacity-70 text-white hover:text-white;
  }
  .fa-github {
    @apply flex;
    background: #24292e;
    color: white;
  }
  .fa-gitlab {
    @apply flex;
    background: #fc6d27;
    color: white;
  }
  .fa-medium {
    @apply flex;
    background: black;
    color: white;
  }
  .fa-linkedin {
    @apply flex;
    background: #0e76a8;
    color: white;
  }
  .fa-reddit {
    @apply flex;
    background: #ff5700;
    color: white;
  }
}

/* scroll */
.scroll {
  @apply w-14 h-14 md:w-16 md:h-16 relative mt-4 md:mt-8 mx-auto;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}
.scroll::before {
  @apply absolute top-3 left-4 w-6 h-6 md:w-8 md:h-8 border-l-2 border-b-2 border-gray-500;
  content: "";
  transform: rotate(-45deg);
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}